.whole{
/*	text-align: center;*/
	margin-top:120px;
	margin: auto;
	padding: 15px;
	margin-top: 50px;
	max-width: 400px;
	background-color:rgb(15, 32, 20);
	border-radius: 55px;
	
}

.row1{
	margin: 12px;
}

.rowA{
	margin: 0;
}


.row2{
	margin: 12px;
}

.row3{
	margin: 12px;
}

.row4{
	margin: 12px;
}



.whole button{
	margin: 12px;
}
#output{
	width:100%;
	outline: none;
	padding: 15px;